body{
  background-color: #fffafc;
}

img{
  display: inline-block;
  user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #595959; 
}

::-webkit-scrollbar-thumb:hover {
  background: #cd3a7d; 
}
/* END Scrollbar */

/* Header */
.header{
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(89, 89, 89, 0.15);
}

.header__logo__img{
  margin: 8px 0;
  height: 42px;
}

.header__menu{
  text-align: right;
  margin: 20px 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header__menu__item{
  color: #595959;
  margin-left: 40px;
  transition: 0.4s;
}

.header__menu__item:first-child{
  margin: 0;
}

.header__menu__item:hover{
  color: #cd3a7d;
  text-decoration: none;
}
/* END Header */

/* Shop */
.shop{
  background-color: #fffafc;
  margin-top: 40px;
  margin-bottom: 80px;
}

.filter{
  margin-bottom: 30px;
}

.shop__btn{
  display: block;
  padding: 8px 24px;
  background-color: #ffffff;
  border: 1px solid #cd3a7d;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #595959;
  transition: 0.4s;
}

.shop__btn::after{
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/down.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 100%;
  padding-right: 20px;
  padding-left: 34px;
  border-left: 1px solid #cd3a7d;
}

.show .shop__btn::after{
  background-image: url(../img/up.svg);
}

.shop__btn:hover{
  color: #cd3a7d;
  text-decoration: none;
}

.dropdown-menu{
  width: 100%;
  padding: 0;
  border-radius: 0px;
  border: none;
  background-color: #ffffff;
}

.checkbox__item{
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

.checkbox__item:hover{
  background-color: #cd3a7c2a;
}

.checkbox__item__btn{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__item__label{
  margin: 0;
  cursor: pointer;
  width: 100%;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #595959;
  padding: 8px 20px 8px 25px;
  position: relative;
}

.checkbox__item__btn+.checkbox__item__label{
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
}

.checkbox__item__btn+.checkbox__item__label::after{
  position: absolute;
  content: "";
  right: 20px;
  width: 16px;
  height: 16px;
  border: 1px solid #cd3a7d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.checkbox__item__btn:checked+.checkbox__item__label::after{
  background-image: url(../img/checked.svg);
}

.promo{
  padding: 8px 24px;
  border: 1px solid #cd3a7d;
  font-size: 18px;
  line-height: 22px;
  transition: 0.4s;
  background-color: #ffffff;
}

.promo:hover{
  color: #cd3a7d;
}

.shop__range .checkbox__item .checkbox__item__label{
  background-color: #ffffff;
  cursor: default;
  padding: 15px 20px;
}

.range{
  height: 2px;
  border: none;
  background-color: #595959;
  border-radius: 0px;
  box-shadow: none;
}

.noUi-connects{
  border-radius: 0px;
  cursor: pointer;
}

.noUi-connect{
  background-color: #cd3a7d;
}

.noUi-horizontal .noUi-handle{
  width: 10px;
  height: 10px;
  right: -10px;
  top: -4px;
  background-color: #cd3a7d;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.noUi-horizontal .noUi-handle.noUi-handle-lower{
  right: 0;
}

.noUi-handle::before,
.noUi-handle::after{
  display: none;
}

.range__inner{
  display: flex;
  justify-content: center;
}

.range__inner::after{
  position: absolute;
  content: "";
  top: 64%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 1px;
  background-color: #595959;
}

.range__min{
  margin-right: 25px;
}

.range__min,
.range__max{
  border: 1px solid #cd3a7d;
  width: 55px;
  outline: none;
  border-radius: 0px;
  text-align: center;
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #595959;
  margin-top: 17px;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.shop__item{
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  padding-bottom:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop__item__img{
  width: 100%;
}

.shop__item__title{
  font-family: "Alegrey Sans";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #cd3a7d;
  text-align: center;
  margin: 8px 0;
}

.shop__item__price{
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #595959;
  margin-bottom: 8px;
}

.shop__item__discount{
  display: inline-block;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-decoration: line-through;
  color: rgba(89, 89, 89, 0.46);
}

.shop__item__btn{
  text-align: center;
}

.shop__item__btn a{
  font-family: "Alegrey Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  padding: 5px 35px;
  color: #ffffff;
  background-color: #cd3a7d;
}

.shop__item__btn a:hover{
  color: #ffffff;
  text-decoration: none;
}

.select__page{
  display: flex;
  justify-content: space-evenly;
}

.page{
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #595959;
}

.page:hover{
  color: #cd3a7d;
}

.prev__page,
.next__page{
  color: #cd3a7d;
  text-decoration: none;
}

.prev__page:hover,
.next__page:hover{
  color: #cd3a7d;
  text-decoration: none;
}

/* END Shop */

/* Footer */
.footer{
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(89, 89, 89, 0.15);
}

.footer__menu{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #cd3a7d;
}

.footer__menu__title{
  display: none;
}

.footer__menu__item{
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #595959;
}

.footer__menu__item:hover{
  color: #cd3a7d;
  text-decoration: none;
}

.footer__contacts{
  display: flex;
  justify-content: space-evenly;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #595959;
}

.footer__contacts__title{
  display: none;
}

.footer__address{
  margin-top: 40px;
  text-align: left;
}

.footer__phone{
  margin-top: 40px;
  text-align: center;
}

.footer__schedule{
  margin-top: 40px;
  text-align: right;
}

.footer__icons{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #cd3a7d;
}

.footer__icon{
  margin-right: 15px;
}

.footer__icon:last-child{
  margin: 0;
}

.footer__studio{
  margin: 12px 0;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #595959;
}

.footer__autor__inner{
  display: block;
  text-align: right;
}

.footer__autor{
  margin: 12px 0;
  display: inline-block;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #595959;
}

.footer__autor:hover{
  color: #595959;
  text-decoration: none;
}
/* END Footer */

/* Adaption */

@media (max-width: 991px){

  .header__menu{
    display: flex;
    justify-content: space-between;
  }

  .header__menu__item{
    margin: 0;
  }

  .footer__menu{
    flex-direction: column;
    border: none;
    position: relative;
  }

  .footer__menu::after{
    position: absolute;
    content: "";
    right: -15.5px;
    width: 1px;
    height: 80%;
    background-color: #cd3a7d;
    opacity: 0.3;
  }

  .footer__menu__item{
    margin-bottom: 8px;
    font-weight: 300;
    letter-spacing: 0.03em;
    text-transform: none;
  }

  .footer__menu__title{
    display: block;
    font-weight: 700;
  }

  .footer__contacts{
    padding: 20px 0 8px;
    flex-direction: column;
    text-align: right;
    font-size: 16px;
  }

  .footer__contacts__title{
    font-weight: 700;
    display: block;
  }

  .footer__address{
    margin-top: 8px;
    text-align: right;
  }

  .footer__phone{
    margin-top: 8px;
    text-align: right;
  }

  .footer__schedule{
    margin-top: 8px;
    text-align: right;
  }

  .footer__icons{
    justify-content: flex-end;
    padding-bottom: 15px;
    border: none;
  }

  .footer__down{
    border-top: 1px solid #cd3a7d;
  }
  
}

@media (max-width: 767px){
  
  .header__menu__item{
    font-size: 13px;
    line-height: 16px;
  }

}

@media (max-width: 575px){

  .header__menu{
    margin: 12px 0;
  }
  
  .header__menu__item{
    font-size: 10px;
    line-height: 13px;
  }

  .footer__menu__item{
    font-size: 12px;
    line-height: 14px;
  }

  .footer__contacts{
    font-size: 12px;
    line-height: 14px;
  }

  .footer__icon__img{
    width: 15px;
    height: 15px;
  }

  .footer__studio{
    font-size: 10px;
    line-height: 12px;
  }

  .footer__autor__inner{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .footer__autor{
    font-size: 10px;
    line-height: 12px;
  }

}

/* END Adaption */