body{
  background-color: #fffafc;
}

img{
  display: inline-block;
  user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #595959; 
}

::-webkit-scrollbar-thumb:hover {
  background: #cd3a7d; 
}
/* END Scrollbar */

.title{
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #cd3a7d;
  margin-bottom: 20px;
}

/* Header */
.header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(89, 89, 89, 0.15);
  height: 58px;
}

.header__logo__img{
  margin: 8px 0;
  height: 42px;
}

.header__menu{
  text-align: right;
  margin: 20px 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header__menu__item{
  color: #595959;
  margin-left: 40px;
  transform: 0.4s;
}

.header__menu__item:first-child{
  margin: 0;
}

.header__menu__item:hover{
  color: #cd3a7d;
  text-decoration: none;
}
/* END Header */

/* Main */
.main{
  height: 100vh;
}

.main__background{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.main__background__video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.main__background__screen{
  background-color: rgba(255, 255, 255, 0.3);
  height: 100vh;
  z-index: 1;
}

.main__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main__title{
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #262626;
  position: relative;
}

.main__title::after{
  position: absolute;
  content: "";
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 365px;
  background-color: #262626;
}
/* END Main*/

/* Categories */
.categories{
  margin-top: 80px;
}

.categories__item{
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid rgba(205, 58, 125, 0.3);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.categories__item:hover{
  border: 1px solid #cd3a7d;
  text-decoration: none;
}

.categories__item__img{
  width: 100%;
}

.categories__item__title{
  display: inline-block;
  width: auto;
  margin-top: 16px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #595959;
  transition: 0.4s;
}

.categories__item:hover .categories__item__title{
  color: #cd3a7d;
}

.categories__btn{
  display: block;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 24px;
  background-color: #cd3a7d;
}

.categories__btn:hover{
  color: #ffffff;
  text-decoration: none;
}
/* END Categories */

/* Benefits */
.benefits{
  margin-top: 80px;
}

.benefits__descr{
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #595959;
}

.benefits__item{
  background-color: #ffffff;
  border: 1px solid rgba(205, 58, 125, 0.3);
  padding: 60px 20px 50px;
  height: 100%;
  position: relative;
}

.benefits__item::after{
  position: absolute;
  content: "";
  top: -25px;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../img/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.benefits__item__title{
  margin: 0 20px 20px;
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #595959;
}

.benefits__item__descr{
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #595959;
}
/* END Benefits */

/* Stages */
.stages{
  margin-top: 80px;
}

.stages__item{
  margin-top: 40px;
  position: relative;
  height: 100%;
}

.stages__item::after{
  position: absolute;
  content: "";
  right: -35%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/stages-p.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 4px;
}

.stages__item.stages5::after{
  display: none;
}

.stages__item__img{
  display: block;
  margin: 0 auto 15px;
}

.stages__item__descr{
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #595959;
}
/* END Stages */

/* Portfolio */
.portfolio{
  margin-top: 80px;
}

.portfolio__slider{
  margin-top: 40px;
}

.portfolio__item{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid rgba(205, 58, 125, 0.3);
  width: 170px;
  padding: 12px 12px 8px;
  margin: 0 10px;
}

.protfolio__item__img{
  width: 100%;
  height: 150px;
  margin-bottom: 8px;
}

.portfolio__item__title{
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #595959;
}

.slick-track{
  display: flex;
  align-items: center;
}

.slick-current.portfolio__item{
  border: 1px solid #cd3a7d;
  padding: 16px 16px 8px;
  width: 340px;
}

.slick-current .protfolio__item__img{
  height: 300px;
}

.slick-current .portfolio__item__title{
  color: #cd3a7d;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-align: center;
}

.slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:15px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.slick-prev{
  left: -25px;
  background-image: url(../img/prev.svg);
}

.slick-next{
  right: -25px;
  background-image: url(../img/next.svg);
}

.slick-slider div,
.slick-slider button{
  outline: none;
}

.slick-slider .portfolio__item{
  cursor: pointer;
}
/* END Portfolio*/

/* Reviews */
.reviews{
  margin-top: 80px;
}

.reviews__title{
  margin-bottom: 40px;
}

.reviews__item{
  background-color: #ffffff;
  border: 1px solid #cd3a7d;
  padding: 20px 40px;
  display: flex;
  margin-bottom: 20px;
}

.reviews__item__left{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.reviews__item__left__img{
  margin-bottom: 8px;
}

.reviews__item__right{
  margin-left: 20px;
}

.reviews__item__right__title{
  display: flex;
}

.reviews__item__right__title__name{
  margin-right: 8px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #595959;
  position: relative;
}

.reviews__item__right__title__name::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 18px;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #595959;
}

.reviews__item__right__title__date{
  margin-left: 8px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #595959;
}

.reviews__item__right__text{
  margin-top: 8px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #595959;
}

.reviews__btn{
  display: block;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 24px;
  background-color: #cd3a7d;
  margin-bottom: 80px;
}

.reviews__btn:hover{
  color: #ffffff;
  text-decoration: none;
}
/* END Reviews */

/* Footer */
.footer{
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(89, 89, 89, 0.4);
}

.footer__menu{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #cd3a7d;
}

.footer__menu__item{
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #595959;
}

.footer__menu__item:hover{
  color: #cd3a7d;
  text-decoration: none;
}

.footer__contacts{
  display: flex;
  justify-content: space-evenly;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #595959;
}

.footer__address{
  margin-top: 40px;
  text-align: left;
}

.footer__phone{
  margin-top: 40px;
  text-align: center;
}

.footer__schedule{
  margin-top: 40px;
  text-align: right;
}

.footer__icons{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #cd3a7d;
}

.footer__icon{
  margin-right: 15px;
}

.footer__icon:last-child{
  margin: 0;
}

.footer__studio{
  margin: 12px 0;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #595959;
}

.footer__autor__inner{
  display: block;
  text-align: right;
}

.footer__autor{
  margin: 12px 0;
  display: inline-block;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #595959;
}

.footer__autor:hover{
  color: #595959;
  text-decoration: none;
}
/* END Footer */